
#map{
	height: 98vh;
	width: 100%;
}

.sidenav {
    height: 92.5vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 8vh;
    left: 0;
    background-color: rgba(16,16,16,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navbar-form {
    overflow: auto;
}
.navbar-form .form-control {
    display: inline-block;
    width: 70%; 
    vertical-align: middle;
}
.navbar-form .form-group {
    display: inline;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
