
<html lang = "en">
<head>
	<title>Myce</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel= "shortcut icon" href="../static/favicon.ico">


 </head>

 <body>
 
	<div id = "main">
		<!--<input id="lat" placeholder="latitude"style="float: right;"> <input id="lng" placeholder="longitude"style="float: right;">
		<button onclick="formSubmit()" style="float: right;"> click me </button>-->
		
		 	 <div id="mySidenav" class="sidenav" style = "color : white;">
		 	 	<img src="../static/myce-logo.png" width="100%" style="justify-content: center; padding-right: 20%; padding-left: 20%; padding-bottom: 25px; ">
				      	<input class="form-control mr-sm-2"  type="text" placeholder="Start typing a restaurant name" aria-label="Search" style="width: 95%; padding: 10px;" id="restaurant" name="restaurant"><br>
						
				  <h3>Grades</h3>
				  <input type="checkbox" name="AllGrades" value="True" style="width: 12%;"> All      				  
				  <input type="checkbox" name="A" value="True" style="width: 15%;"> A <br>
				  <input type="checkbox" name="B" value="True" style="width: 15%;"> B  
				  <input type="checkbox" name="C" value="True" style="width: 15%;"> C <br>
				  <input type="checkbox" name="F" value="True" style="width: 15%;"> F
				  <input type="checkbox" name="N" value="True" style="width: 15%;"> Under Review <br> <br>
				  <h3>Boroughs</h3>
				  <input type="checkbox" name="AllBoroughs" value="True"> All <br>				  
				  <input type="checkbox" name="Manhattan" value="True"> Manhattan <br>
				  <input type="checkbox" name="Brooklyn" value="True"> Brooklyn <br>
				  <input type="checkbox" name="Queens" value="True"> Queens <br>
				  <input type="checkbox" name="The Bronx" value="True"> The Bronx <br>
				  <input type="checkbox" name="Staten Island" value="True"> Staten Island <br> <br>

				  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  id="searchButton" style="width: 95%; " onclick="formSubmit()">Search</button>
				 <button class="btn btn-outline-success my-2 my-sm-0" style="width: 95%; " onclick="window.location.href='../about/about.html'">About</button>
				  
				</div>
			
	
		


		<div id= "map"></div>
</div>
	<script src="../static/myce.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX8IfG5ir2VdKr73W5jbi-eJPrmU5s5eA&&libraries=visualization&callback=initMap"
    async defer></script>
